<h1 class="text-4xl font-bold mb-6">Calisthenics Tracker</h1>


<% if user_signed_in? %>

  <p class="mb-4 text-lg">
    Logged in as <strong><%= current_user.username %></strong>
    (<%= current_user.role %>)
  </p>

  <%= button_to "Logout",
                destroy_user_session_path,
                method: :delete,
                class: "bg-red-600 text-white px-4 py-2 rounded" %>

<% else %>

  <div class="flex gap-6">
    <%= link_to "Login",
                login_path,
                class: "bg-blue-600 text-white px-6 py-2 rounded text-xl" %>

    <%= link_to "Register",
                register_path,
                class: "bg-green-600 text-white px-6 py-2 rounded text-xl" %>
  </div>

<% end %>
